In [2]:
import geopandas as gpd
import pandas as pd
import folium, branca
import fiona, requests, json
import os
import fiona.crs
import requests
import fiona
 

from folium.features import GeoJson, GeoJsonTooltip

In [ ]:
print(folium.__version__)

In [ ]:
for i in range(31,35):
    endND = os.path.join('geojs-'+str(i)+'-mun.json')
    geo_json_ND = json.load(open(endND, encoding='latin-1'))
    
    if i == 31:
        geo_json_NDX = geo_json_ND
        
    else:
         for city in geo_json_ND['features']:
                geo_json_NDX['features'].append(city)

In [294]:
cidades = gpd.GeoDataFrame.from_features(requests.get('https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-33-mun.json'+'https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-35-mun.json', headers={"content-type":"application/json;charset=UTF-8"}).json(), crs=fiona.crs.from_epsg(4326))

/home/lucas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [295]:
cidades

,geometry,id,name,description
0,"POLYGON ((-51.05787 -21.39888, -51.05365 -21.4...",3500105,Adamantina,Adamantina
1,"POLYGON ((-49.65478 -21.20607, -49.63847 -21.2...",3500204,Adolfo,Adolfo
2,"POLYGON ((-47.20890 -21.97129, -47.20297 -21.9...",3500303,Agua�,Agua�
3,"POLYGON ((-46.70755 -21.82895, -46.70380 -21.8...",3500402,�guas da Prata,�guas da Prata
4,"POLYGON ((-46.61147 -22.43496, -46.60302 -22.4...",3500501,�guas de Lind�ia,�guas de Lind�ia
...,...,...,...,...
640,"POLYGON ((-47.37268 -23.51783, -47.37047 -23.5...",3557006,Votorantim,Votorantim
641,"POLYGON ((-50.02073 -20.33347, -50.01275 -20.3...",3557105,Votuporanga,Votuporanga
642,"POLYGON ((-49.99521 -21.03253, -49.98434 -21.0...",3557154,Zacarias,Zacarias
643,"POLYGON ((-49.68539 -22.94866, -49.68396 -22.9...",3557204,Chavantes,Chavantes
644,"POLYGON ((-46.91399 -22.19933, -46.91221 -22.2...",3557303,Estiva Gerbi,Estiva Gerbi

In [296]:
cidades2 = gpd.GeoDataFrame.from_features(requests.get('https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-32-mun.json'+'https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-31-mun.json').json(), crs=fiona.crs.from_epsg(4326))

/home/lucas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [297]:
cidades2

,geometry,id,name,description
0,"POLYGON ((-47.44410 -18.15847, -47.43543 -18.1...",3100104,Abadia dos Dourados,Abadia dos Dourados
1,"POLYGON ((-45.18200 -18.88757, -45.17314 -18.8...",3100203,Abaet�,Abaet�
2,"POLYGON ((-42.36955 -20.13218, -42.35755 -20.1...",3100302,Abre Campo,Abre Campo
3,"POLYGON ((-43.11391 -20.35784, -43.10969 -20.3...",3100401,Acaiaca,Acaiaca
4,"POLYGON ((-42.38592 -18.92388, -42.38140 -18.9...",3100500,A�ucena,A�ucena
...,...,...,...,...
848,"POLYGON ((-42.70675 -18.66017, -42.68531 -18.6...",3171808,Virgin�polis,Virgin�polis
849,"POLYGON ((-42.32194 -18.35613, -42.32256 -18.3...",3171907,Virgol�ndia,Virgol�ndia
850,"POLYGON ((-42.88457 -20.93903, -42.88098 -20.9...",3172004,Visconde do Rio Branco,Visconde do Rio Branco
851,"POLYGON ((-42.53029 -21.69567, -42.52692 -21.7...",3172103,Volta Grande,Volta Grande
852,"POLYGON ((-45.33666 -22.51827, -45.34478 -22.5...",3172202,Wenceslau Braz,Wenceslau Braz

In [298]:
allcities = cidades.append(cidades2, ignore_index=True)

In [299]:
type(allcities)

geopandas.geodataframe.GeoDataFrame

In [300]:

allcities

,geometry,id,name,description
0,"POLYGON ((-51.05787 -21.39888, -51.05365 -21.4...",3500105,Adamantina,Adamantina
1,"POLYGON ((-49.65478 -21.20607, -49.63847 -21.2...",3500204,Adolfo,Adolfo
2,"POLYGON ((-47.20890 -21.97129, -47.20297 -21.9...",3500303,Agua�,Agua�
3,"POLYGON ((-46.70755 -21.82895, -46.70380 -21.8...",3500402,�guas da Prata,�guas da Prata
4,"POLYGON ((-46.61147 -22.43496, -46.60302 -22.4...",3500501,�guas de Lind�ia,�guas de Lind�ia
...,...,...,...,...
1493,"POLYGON ((-42.70675 -18.66017, -42.68531 -18.6...",3171808,Virgin�polis,Virgin�polis
1494,"POLYGON ((-42.32194 -18.35613, -42.32256 -18.3...",3171907,Virgol�ndia,Virgol�ndia
1495,"POLYGON ((-42.88457 -20.93903, -42.88098 -20.9...",3172004,Visconde do Rio Branco,Visconde do Rio Branco
1496,"POLYGON ((-42.53029 -21.69567, -42.52692 -21.7...",3172103,Volta Grande,Volta Grande
1497,"POLYGON ((-45.33666 -22.51827, -45.34478 -22.5...",3172202,Wenceslau Braz,Wenceslau Braz

In [301]:
def corrigir_nomes(nome):
    nome = nome.replace('ã','a').replace('Á','A')
    return nome

In [302]:
allcities['name'] = allcities['name'].apply(corrigir_nomes)

In [303]:
allcities

,geometry,id,name,description
0,"POLYGON ((-51.05787 -21.39888, -51.05365 -21.4...",3500105,Adamantina,Adamantina
1,"POLYGON ((-49.65478 -21.20607, -49.63847 -21.2...",3500204,Adolfo,Adolfo
2,"POLYGON ((-47.20890 -21.97129, -47.20297 -21.9...",3500303,Agua�,Agua�
3,"POLYGON ((-46.70755 -21.82895, -46.70380 -21.8...",3500402,�guas da Prata,�guas da Prata
4,"POLYGON ((-46.61147 -22.43496, -46.60302 -22.4...",3500501,�guas de Lind�ia,�guas de Lind�ia
...,...,...,...,...
1493,"POLYGON ((-42.70675 -18.66017, -42.68531 -18.6...",3171808,Virgin�polis,Virgin�polis
1494,"POLYGON ((-42.32194 -18.35613, -42.32256 -18.3...",3171907,Virgol�ndia,Virgol�ndia
1495,"POLYGON ((-42.88457 -20.93903, -42.88098 -20.9...",3172004,Visconde do Rio Branco,Visconde do Rio Branco
1496,"POLYGON ((-42.53029 -21.69567, -42.52692 -21.7...",3172103,Volta Grande,Volta Grande
1497,"POLYGON ((-45.33666 -22.51827, -45.34478 -22.5...",3172202,Wenceslau Braz,Wenceslau Braz

In [3]:
map31 = json.load(open('geojs-31-mun.json', encoding='latin-1'))

FileNotFoundError: [Errno 2] No such file or directory: 'geojs-31-mun.json'

In [306]:
type(map31)

dict

In [307]:
teste = gpd.GeoDataFrame.from_features(requests.get('https://raw.githubusercontent.com/lucasvascrocha/mapa_ternium/master/mapa31.json').json(), crs=fiona.crs.from_epsg(4326))

/home/lucas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [309]:
type(teste)

geopandas.geodataframe.GeoDataFrame